@model Influencers.BusinessLogic.ViewModels.AuthorViewModels.RankingViewModel
@{
    ViewData["Title"] = "Ranking";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<h2 class="w3-text-blue">Rankings</h2>

<table class="tableFixHead w3-table-all w3-card-4" border="1">
    <thead>
        <tr class="w3-text-blue">
            <th>
                @Html.DisplayName("Nickname")
            </th>

            <th>
                @Html.DisplayName("Karma")
            </th>

            <th>
                @Html.DisplayName("Email")
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Authors.Count() == 0)
        {
            <tr>
                <td colspan="4">
                    No authors available
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in Model.Authors)
            {
                <tr class="w3-hover-blue">
                    <td>
                        @Html.DisplayFor(model => item.Nickname)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Votes)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Email)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<style>
    .tableFixHead {
        overflow-y: auto;
        height: 100px;
        /*counter-reset: rowNumber;*/
    }
    /* Just common table stuff. Really. */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px 16px;
    }

    th {
        background: #eee;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
    }
</style>

<script>
    var table = document.getElementsByTagName('table')[0],
        rows = table.getElementsByTagName('tr'),
        text = 'textContent' in document ? 'textContent' : 'innerText';

    for (var i = 1, len = rows.length; i < len; i++) {
        rows[i].children[0][text] = i + '. ' + rows[i].children[0][text];
    }
</script>