@model Influencers.BusinessLogic.ViewModels.ArticleViewModels.ArticleViewModel

@{
    ViewData["Title"] = "Home Page";
}

<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/homepage.css">
</head>

<br />


<div class="post-container" style="background-color: #FCFCFC;">
    <a asp-action="Top" asp-controller="Article">
        <i class="fas fa-crown fa-2x"></i>
    </a>

    <a asp-action="New" asp-controller="Article">
        <i class="fas fa-clock fa-2x"></i>
    </a>
    <a asp-action="Hot" asp-controller="Article">
        <i class="fab fa-hotjar fa-2x"></i>
    </a>
    <a asp-action="Old" asp-controller="Article">
        <i class="fab fa-pagelines fa-2x"></i>
    </a>

</div>
@foreach (var item in Model.Articles)
{
    <div class="w-auto p-3 post-container" style="background-color: #FCFCFC;">
        <div class="vote vote-container">
            <span id="article-up-@item.Id" class="up-vote" onclick="setValues(@item.Id, 1)"><i class="fas fa-angle-up"></i></span>
            <span id="article-counter-@item.Id" class="number">@Html.DisplayFor(model => item.Votes)</span>
            <span id="article-down-@item.Id" class="down-vote" onclick="setValues(@item.Id, 2)"><i class="fas fa-angle-down"></i></span>
        </div>
        <div class="content" style=background-color: white;">
            <a asp-action="ViewArticle" asp-route-id="@item.Id" asp-controller="Article" style="text-decoration: none; color: black;">
                <div class="posted">
                    Posted by @Html.DisplayFor(model => item.Author.Nickname) on @Html.DisplayFor(model => item.AddedTime)
                </div>
                <h3>
                    @Html.DisplayFor(model => item.Title)
                </h3>

                <p>
                    @Html.DisplayFor(model => item.Content)...
                </p>
            </a>
            <a asp-action="EditArticle" asp-controller="Article" asp-route-id="@item.Id">Edit</a>
        </div>

    </div>
}

@section scripts{

    <script>
        $(document).ready(function () {

            @foreach(var item in Model.Articles)
            {

                @:if (Cookies.get(@item.Id) == "1") {
                    @:$(`#article-up-${@item.Id}`).css("color", "#3CBC8D");
                    @:$(`#article-down-${@item.Id}`).css("color", "dimgray");
                @:}

                @:if (Cookies.get(@item.Id) == "2") {
                    @:$(`#article-up-${@item.Id}`).css("color", "dimgray");
                    @:$(`#article-down-${@item.Id}`).css("color", "#3CBC8D");
                @:}

            }

        });
    </script>
}
