@using  Influencers.Helpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Article" asp-action="Index" >
                    <img src="~/Images/logo4.png" alt="Sample Photo"  />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AddArticle">Add Article</a>
                          </li>*@

                        <li class="nav-item user-action-button @Html.IsSelected(actions: "AddArticle", controllers: "Article")">
                            <a class="nav-link text-dark" href="@Url.Action("AddArticle", "Article")">Add Article</a>
                        </li>

                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="JoinInfluencers">Join Influencers</a>
                        </li>*@

                        <li class="nav-item user-action-button @Html.IsSelected(actions: "JoinInfluencers", controllers: "Author")">
                            <a class="nav-link text-dark" href="@Url.Action("JoinInfluencers", "Author")">Join Influencers</a>
                        </li>

                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Ranking">Ranking</a>
                        </li>*@

                        <li class="nav-item user-action-button @Html.IsSelected(actions: "Ranking", controllers: "Author")">
                            <a class="nav-link text-dark" href="@Url.Action("Ranking", "Author")">Ranking</a>
                        </li>
                    </ul>

                  
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Influencers - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>


<style>
        li {
            background-color: none;
            list-style: none;
            float: left;
            padding-right: 2%;
        }

        .nav_selected {
        }

        .nav-item {
            list-style: none;
            font: 14px calibri;
            background-color: none;
            padding: 10px;
        }

        .nav-item:hover {
            background-color: lightskyblue;
        }

        .selected {
            background-color: lightskyblue;
        }

        .user-action-button {
            margin-top: .25em;
            font-size: 16px;
            /*border: solid black;*/
            color: #4682b4;
            font-weight: bold;
            border-bottom-left-radius: 8.5px;
            border-bottom-right-radius: 8.5px;
            border-top-left-radius: 8.5px;
            border-top-right-radius: 8.5px; 
            /*border-radius:5%; */
            margin-left: .1em;
            margin-right: .1em;
            padding-left: .3em;
            padding-right: .3em;
        }

        /*a {
            text-decoration: none;
        }*/
    </style>